<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="DBFile" value="C:\Job Applications\Database\DBFiles"/>
    <add key="ActivityType" value="E-Mail Message - Gmail,E-Mail Message - BnB Technologies,E-Mail Message - Outlook,LinkedIn Message,Phone Call,Follow Up"/>
  </appSettings>
</configuration>
